body{
    font-family: "Kosugi Maru",sans-serif;
    text-align: center;
}

.red{
    font-size: 28px;
    color: red;
}

h1{
    font-size: 35px;
}

.text{
    display: inline-block;
    font-size: 25px;
    margin-top: 3px;
}

.text-b{
    font-size: 30px;
    font-weight: 600;
}